name: CI

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]
  merge_group:

env:
  HUSKY: 0

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_DB: sidetrack
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        # Wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node 18
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install deps
        run: pnpm install && pnpm postinstall-steps

      - name: Build and lint and type-check
        run: pnpm build && pnpm turbo --env-mode=loose lint test-ci typecheck
        env:
          DATABASE_URL: postgres://postgres:password@localhost:5432/sidetrack?sslmode=disable

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
